.features {
  grid-column: center-start / center-end;

  /*
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  // grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: IMPLICIT GRID;
  grid-gap: 6rem;
  align-items: start;
  */
  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: IMPLICIT GRID;
    grid-gap: 6rem;
    align-items: start;
  }

  margin: 15rem 0;
}

.feature {
  // Lec-123: Fallbacks (Progressive Enhancement): We build a page with older CSS methods, pretending new stuffs like flexbox, grids doesn't exists & top of that , we build our layout with CSS Grid if the browser supports it
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;
  @supports (display: grid) {
    // Ignored by grids & flexs (floats, inline-block, table-cell, vertical-align)
    width: auto;
    margin-bottom: 0;
  }

  display: grid;
  grid-template-columns: min-content 1fr;
  // grid-template-rows: min-content;
  grid-column-gap: 2.5rem;
  grid-row-gap: 1.5rem;

  &__icon {
    grid-row: 1 / span 2;

    transform: translateY(-1rem);
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
  }

  &__text {
    font-size: 1.7rem;
  }
}
